<div class="main">
    <div class="header">
        <h3>{{title}}</h3>
    </div>
    <div>
        <form [formGroup]="addEditTicketForm">
            <div class="container">
    
                <div class="title">
                    <mat-label class="label margin-label">Title</mat-label>
                    <mat-form-field appearance="outline">
                            <input class="input" matInput placeholder="title" formControlName="title" maxlength="50">
                    </mat-form-field>
                </div>
    
                <div class="id">
                    <mat-label class="label margin-id">Display ID</mat-label>
                    <mat-form-field appearance="outline">
                            <input class="input" matInput placeholder="Display id" formControlName="id" maxlength="50">
                    </mat-form-field>
                </div>
    
                <div class="description">
                    <mat-label class="label margin-desc">Description</mat-label>
                    <mat-form-field appearance="outline">
                        <input class="desc" matInput placeholder="description" formControlName="description" maxlength="50">
                    </mat-form-field>
                </div>
    
                <div class="date">
                    <mat-label class="label margin-date">Date of creation</mat-label>
                    <mat-form-field appearance="outline">
                        <input class="input" matInput placeholder="created date" formControlName="created_date" maxlength="50">
                    </mat-form-field>
                </div>
    
                <!-- <div class="status">
                    <div class="label">Status</div>
                    <div class="value">
                        <mat-form-field>
                            <mat-select formControlName="status">
                                <mat-option *ngFor="let item of statusList"
                                    [value]="item">{{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div> -->
    
                <div class="status">
                    <mat-label class="label margin-status">Status</mat-label>
                    <mat-form-field appearance="outline">
                        <select class="input" formControlName="status">
                            <option *ngFor="let item of statusList"
                                [value]="item">{{item}}
                            </option>
                        </select>
                    </mat-form-field>

                </div>
            </div>
        </form>
    </div>
    <div class="action">
        <button class="cancel" (click)="cancel()">Cancel</button>
        <button class="update" (click)="addEditHandler()">Update</button>
    </div>
</div> 
